@use "../abstracts/" as *;

.even-columns {
  display: grid;
  column-gap: var(--grid-column-gap, var(--grid-gap, $grid-default-gap));
  row-gap: var(--grid-row-gap, var(--grid-gap, $grid-default-gap));

  // this media query can be changed.
  @include mq(medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mq(large) {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}
