@use "../abstracts/" as *;

.grid-auto-fit {
  display: grid;
  column-gap: var(--grid-column-gap, --grid-gap, $grid-default-gap);
  row-gap: var(--grid-column-gap, --grid-gap, $grid-default-gap);

  // the min-width we could find in the layout, which may be the smallest component.
  grid-template-columns: repeat(
    auto-fit,
    minmax(min($container-min-width, 100%), 1fr)
  );
}
