@use "../abstracts";

.container {
  // --max-width: #{$container-max-width};
  --padding: size(16);

  width: min(100% - 2 * var(--padding), var(--max-width));
  margin-inline: auto;

  // &[data-type="wide"] {
  //   --max-width: #{$container-max-width-wide};
  // }

  &[data-type="full-bleed"] {
    --padding: 0px;
    --max-width: 100%;
  }
}
